.spacer {
  flex: 1 1 auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
}

mat-icon[mat-card-avatar] {
  width: 35px;
  height: 35px;
  font-size: 35px;
  border-radius: 0%;
}

mat-icon[matlistitemicon] {
  margin-right: 5px !important;
}

mat-card-content button {
  text-align: right;
}

mat-form-field {
  display: block;
}

mat-form-field {
  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }
}

mat-toolbar {
  mat-divider {
    height: 70%;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.mr-8 {
  margin-right: 8px;
}
