.spacer {
  flex: 1 1 auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;

  mat-card-actions {
    padding: 8px 16px;
  }

  mat-card-header {
    padding-bottom: 8px;
  }

  mat-icon[mat-card-avatar] {
    width: 35px;
    height: 35px;
    font-size: 35px;
    border-radius: 0%;
  }

  div[mat-subheader] {
    margin-top: 8px;
    margin-bottom: 0;
  }
}

mat-icon[matlistitemicon] {
  margin-right: 5px !important;
}

mat-form-field {
  display: block;

  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }

  button[mat-icon-button] {
    margin-right: 8px;
  }

  .mat-mdc-form-field-icon-suffix {
    padding-bottom: 8px;
    align-self: end;
  }
}

mat-chip-listbox {
  margin-left: 8px;
  mat-label {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

mat-toolbar {
  mat-divider {
    height: 70%;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.input-suffix-button-group-bottom {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  align-self: end;
}

.input-suffix-button-group-center {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  align-self: center;
}

.input-suffix-button-group-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

mat-form-field {
  ::ng-deep .mat-mdc-form-field-icon-suffix {
    align-self: stretch !important;
    align-items: stretch;
    display: flex;
  }
}

.al-center {
  text-align: center;
}

.al-right {
  text-align: right;
}

.mr-8 {
  margin-right: 8px;
}
