.spacer {
  flex: 1 1 auto;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
}

mat-card-content {
  text-align: center;
}

mat-form-field {
  display: block;
}

mat-form-field {
  mat-error {
    display: none !important;
  }

  mat-error:first-child {
    display: block !important;
  }
}

mat-toolbar {
  mat-divider {
    height: 60%;
    margin-left: 6px;
    margin-right: 6px;
  }
}

.mr-8 {
  margin-right: 8px;
}
