<mat-card>
  <mat-card-content>
    <form #filterForm="ngForm">
      <mat-error *ngIf="!keywordValid">
        <div style="white-space: pre-line">{{keywordErrorMessage}}</div>
        <br>
      </mat-error>
      <!-- TODO -->
      <mat-form-field>
        <input matInput placeholder="Enter a search term or keyword" [(ngModel)]="keyword" name="keyword">
        <div matSuffix class="input-suffix-button-group-center">
          <button mat-icon-button matTooltip="Filter" [disabled]="!filterForm.form.valid">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </mat-form-field>
      <mat-chip-listbox>
        <mat-label>Sort by:</mat-label>
        <mat-chip-option color="primary" selected>
          <mat-icon matChipAvatar>calendar_month</mat-icon>
          Date
        </mat-chip-option>
        <mat-chip-option color="warn">
          <mat-icon matChipAvatar>local_fire_department</mat-icon>
          Hot
        </mat-chip-option>
        <mat-chip-option color="accent">
          <mat-icon matChipAvatar>trending_up</mat-icon>
          Rating
        </mat-chip-option>
      </mat-chip-listbox>
      <mat-chip-listbox multiple>
        <mat-label>Filter by:</mat-label>
        <mat-chip-option color="primary">
          <mat-icon matChipAvatar>favorite</mat-icon>
          Favorite
        </mat-chip-option>
        <mat-chip-option color="warn">
          <mat-icon matChipAvatar>person_alt</mat-icon>
          Followed
        </mat-chip-option>
        <mat-chip-option color="accent">
          <mat-icon matChipAvatar>edit_note</mat-icon>
          Personal
        </mat-chip-option>
      </mat-chip-listbox>
    </form>
  </mat-card-content>
</mat-card>
