<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sign Up
    </mat-card-title>
    <mat-card-subtitle>
      Register a new user account.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="!signupValid">
        <div style="white-space: pre-line">{{errorMessage}}</div>
        <br>
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required minlength="1" maxlength="20">
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" #passwordInput="ngModel" name="password" required minlength="8" unicodePattern="^(?=.*[^\p{L}\p{N}])(?=.*\p{Lu})(?=.*\p{Ll}).*$">
        <mat-error *ngIf="passwordInput.errors?.['required']">
          Please provide a valid password
        </mat-error>
        <mat-error *ngIf="passwordInput.errors?.['minlength']">
          Password needs to have at least 8 characters
        </mat-error>
        <mat-error *ngIf="passwordInput.errors?.['unicodePattern']">
          Password needs to have at least 1 uppercase, 1 lowercase and 1 special character
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" [(ngModel)]="passwordConfirm" name="passwordConfirm" required ngValidateEqual="password">
        <mat-error>
          Please confirm your password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">Register</button>
    </form>
  </mat-card-content>
</mat-card>
