.button-container {
  display: flex;

  .button-text {
    flex-grow: 1;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
  }
}


mat-card {
  max-width: 750px !important;
}
