@use '@angular/material' as mat;

@import "@angular/material/theming";

@include mat.core();
@include mat.all-component-typographies();

$angular-light-primary: mat.define-palette(mat.$indigo-palette);
$angular-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-light-warn: mat.define-palette(mat.$red-palette);

$angular-light-theme: mat.define-light-theme((
      color: (
        primary: $angular-light-primary,
        accent: $angular-light-accent,
        warn: $angular-light-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($angular-light-theme);

$angular-dark-primary: mat.define-palette(mat.$purple-palette);
$angular-dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$angular-dark-warn: mat.define-palette(mat.$red-palette);

$angular-dark-theme: mat.define-dark-theme((
      color: (
        primary: $angular-dark-primary,
        accent: $angular-dark-accent,
        warn: $angular-dark-warn,
      )));

.dark {
  @include mat.all-component-colors($angular-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-icon-button:hover {
  .mat-button-focus-overlay {
    opacity: .04 !important;
  }
}
