<mat-card>
  <mat-card-header>
    <mat-card-title>
      Sign In
    </mat-card-title>
    <mat-card-subtitle>
      Enter your user login information.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="!loginValid">
        <div style="white-space: pre-line">{{errorMessage}}</div>
        <br>
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required minlength="1" maxlength="20">
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required minlength="8" unicodePattern="^(?=.*[^\p{L}\p{N}])(?=.*\p{Lu})(?=.*\p{Ll}).*$">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </form>
    <br>
    <div class="al-center">
      No account? <a [routerLink]="'/auth/signup'">Register</a>
    </div>
  </mat-card-content>
</mat-card>
